.contacts-wrap {
  height: 420px;
  width: 320px;
  margin: 30px auto;
  border-radius: 15px;
  color: $white;
  background: $black;
  .header {
    padding: 10px 20px;
    background: $dark-grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .contacts {
    margin: 2px 0;
    background: $dark-grey;
    .left-col {
      padding: 10px 20px;
      border-right: 1px solid $black;
      .contact-detail {
        img {
          padding-right: 5px;
        }
      }
    }
    .right-col {
      padding: 10px 20px;
    }
  }
  
  .footer {
    padding: 10px 20px;
    background: $dark-grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    .contact-select {
        display: block;
        margin-left: auto;
        background: $dark-grey;
        padding: 8px;
        font-size: 11px;
    }
  }
}