.navbar {
    min-height: 80px;

    .container {
        max-width: 1230px;
        margin-top: 15px
    }
}


.banner {
    min-height: 960px;
}

.services-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.col {
    float: left;
    width: 25%;

    .col-inner {
        border: 1px solid #fff;
        border-bottom: none;
        border-right: none;
        color: #fff;
        display: block;

        font: {
            size: 20px;
            weight: 500;
        }

        min-height: 120px;
        padding: 30px;
        text-align: center;

        h3 {
           display: inline-block;
        }

        img {
            display: inline-block;
        }

        &:hover {
            border: 1px solid #d51a36;
            color:#d51a36;
        }
    }
}